In [1]:
random_state = 27912

from sklearn.metrics import classification_report, plot_confusion_matrix
from IPython.display import display

import pandas as pd

In [2]:
def fit_evaluate(estimator, X_train, X_test, y_train, y_test):
    """Fit the estimator to the training dataset and evaluate in the testing dataset."""
    # Fit the model according to the given training dataset
    estimator = estimator.fit(X_train, y_train)

    # Predict the class labels for the testing dataset
    predictions = estimator.predict(X_test)

    # Build a text report (in a dictionary) with the main classification metrics
    report = classification_report(y_test, predictions, output_dict=True)

    # Convert the dictionary to tabular data
    report = pd.DataFrame(report).T

    # Display the text report
    display(report)

    # Plot the confusion matrix for the testing dataset
    plot_confusion_matrix(estimator, X_test, y_test);

    return estimator, predictions

In [5]:
data = pd.read_csv("../input/titanic/train.csv", index_col="PassengerId")

In [6]:
target = "Survived"

In [7]:
data[target] = data[target].astype("category")

In [8]:
data.sample(5, random_state=random_state)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5000,NaN,S
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
461,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S

# Trabajo a entregar

Un informe reproduciendo el estudio que se ha hecho con `iris` para `titanic`. En el enlace al conjunto de datos se puede encontrar información sobre el significado semántico del problema. Debéis explorar el conjunto de datos, preprocesarlo y aprender los modelos vistos para después realizar un proceso de clasificación que tendréis que interpretar. El estudio del conjunto de datos se deberá incluir en una única libreta.

Los siguientes elementos deben estar presentes en la libreta:

* Análisis exploratorio de datos mediante gráficas y estadísticos.
* Preprocesamiento de datos.
* Aprendizaje y evaluación de un clasificador *Zero-R*.
* Aprendizaje y evaluación de árboles de clasificación (sin y con preprocesamiento).

Todos los apartados deberán realizarse mediante proceso *holdout* estratificado, discutiendo los resultados y comparando los tres modelos. Además, se deberán analizar las matrices de confusión correspondientes.

Es muy importante tener en cuenta los siguientes criterios de evaluación:

* Deben realizarse todos los puntos anteriores.
* Deben explicarse coherentemente los resultados, utilizando siempre que se pueda un vocabulario técnico (palabras clave).
* El código debe ser claro y estar bien documentado.
* Las explicaciones deben ser claras y el documento estar bien estructurado.
* El código debe ser reproducible.

Como se puede ver, hay 5 puntos de evaluación que supondrán la valoración media de la práctica. Ya sabéis que la media es un estadístico que se ve afectado enormemente por los valores extremos, así que, aunque el contenido sea correcto, si no se explica bien o no está presentable, la nota se verá notablemente afectada.

**Recordar que asociada a esta práctica habrá una entrevista para completar la evaluación de la práctica.**